[
  {
    "nickname": "slackclub",
    "server": "irc.freenode.net",
    "token": "${SLACK_TOKEN}",
    "autoSendCommands": [
        ["PRIVMSG", "NickServ", "IDENTIFY ${NICKSERV_PASSWORD}"]
    ],
    "channelMapping": {
      "#meta": "#hack-club"
    }
  }
]
